<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="jp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><% if(page&&page.title) { %><%= page.title %><% }else{ %><%= theme.title %><% } %></title>
  <meta name="google" content="nositelinkssearchbox">
  <meta name="description" content="<% if(page&&page.discription) { %><%= page.discription %><% }else{ %><%= theme.discription %><% } %>">
  <meta name="keywords" content="<% if(page&&page.keyword) { %><%= page.keyword %><% }else{ %><%= theme.keyword %><% } %>">
  <meta property="og:title" content="<% if(page&&page.title) { %><%= page.title %><% }else{ %><%= theme.title %><% } %>">
  <meta property="og:description" content="<% if(page&&page.discription) { %><%= page.discription %><% }else{ %><%= theme.discription %><% } %>">
  <meta property="og:type" content="<%= theme.ogp.type %>">
  <meta property="og:url" content="">
  <meta property="og:image" content="<% if(page&&page.ogp.image) { %><%= page.ogp.image %><% }elseif(theme.ogp.image){ %><%= theme.ogp.image %><% } %>">
  <meta property="og:site_name" content="<%= theme.title %>">
  <meta property="fb:app_id" content="<% if(theme.appId){ %><%= theme.appId %><% } %>">
</head>